
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


backend/node_modules/
backend/.env
backend/.env.local
backend/.env.*.local

frontend_vite/node_modules/
frontend_vite/.env
frontend_vite/.env.local


logs/
*.log
*.log.*
pm2-logs/


.env
.env.local
.env.development.local
.env.production.local
.env.test.local
